<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pangu.dao.PanguUserMapper">
  <resultMap id="BaseResultMap" type="com.pangu.po.PanguUser">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="account" jdbcType="DECIMAL" property="account" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, id, user_name, password, account
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pangu_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pangu_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pangu.po.PanguUser">
    insert into pangu_user (user_id, id, user_name, 
      password, account)
    values (#{userId,jdbcType=VARCHAR}, #{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{account,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.pangu.po.PanguUser">
    insert into pangu_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="account != null">
        account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pangu.po.PanguUser">
    update pangu_user
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=DECIMAL},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pangu.po.PanguUser">
    update pangu_user
    set id = #{id,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      account = #{account,jdbcType=DECIMAL}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>